.header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 30vh;
  box-sizing: border-box;
  padding-top: 2rem;
}

h1 {
  font-size: 5rem;
}

.header-container p {
  font-size: 2.188rem;
}

.form-container {
  height: 70vh;
  width: 100vw;
}

Form {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

Button {
  margin-bottom: 3.5px;
  min-width: 12rem;
  padding: 5px auto;
  border: none;
  border-radius: 10px;
  background-color: #000;
  color: white;
}
